.header {
    background-color: #373B53;
    height: 72px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
}

.logoBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    height: 72px;
    width: 72px;
    background-color: var(--color-01);

    border-radius: 0 20px 20px 0;
    overflow: hidden;

    &__mask {
        position: absolute;
        width: 72px;
        height: calc(72 - 36.25);

        background-color: var(--color-02);

        border-radius: 20px 0 20px 0;
        top: 36.35px;
    }

    &__img {
        z-index: 1;
    }
}

.menuBlock {
    position: relative;
    display: flex;
    align-self: center;
    gap: 49px;

    padding: 20px 0;

    &__themeIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        

        &::after {
            position: absolute;
            content: '';
            height: 100%;
            width: 1px;
            background-color: #494E6E;

            left: calc(20 + 24);
            top: 0;
        }

    }

    &__userIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        border-radius: 50%;
        overflow: hidden;
    }

}