@use '@/app/typography' as *;

.invoice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--card-bg);
  padding: 25px 24px;
  border-radius: 8px;
  min-height: 134px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__id {
    @include Heading-S-2;
  }

  &__hash {
    color: var(--hash);
  }

  &__name {
    @include Body-2;
    color: var(--card-name);
  }

  &__low {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.amount {
  display: flex;
  flex-direction: column;
  gap: 9px;

  &__date {
    color: var(--subtext);
    @include Body-2;
  }

  &__sum {
    @include Heading-S-2;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 30px;

  @include Heading-S-2;
  border-radius: 6px;

  &__paid {
    background-color: var(--paid-bg);
    color: var(--paid-text);
  }

  &__pending {
    background-color: var(--pend-bg);
    color: var(--pend-text);
  }

  &__draft {
    background-color: var(--draft-bg);
    color: var(--draft-text);
  }
}
