:root {
  --color-01: #7c5dfa;
  --color-02: #9277ff;
  --color-03: #1e2139;
  --color-04: #252945;
  --color-05: #dfe3fa;
  --color-06: #888eb0;
  --color-07: #7e88c3;
  --color-08: #0c0e16;
  --color-09: #ec5757;
  --color-10: #9277ff;
  --color-11: #f8f8fb;
  --color-12: #141625;

  --hash: var(--color-07);
  --primary: var(--color-01);

  --paid-text: rgba(51, 214, 159, 1);
  --paid-bg: rgba(51, 214, 159, 0.057);

  --pend-text: rgba(255, 143, 0, 1);
  --pend-bg: rgba(255, 143, 0, 0.057);

  &.light {
    --text: var(--color-08);
    --subtext: var(--color-06);

    --items-bg: #f9fafe;
    --items-totalbg: #373b53;
    --items-subtext: var(--color-07);

    --invoice-text: var(--color-07);
    --leftbtn-bg: var(--color-11);
    --leftbtn-text: var(--color-07);
    --addbtn-bg: #f0f3fc;

    --bg: var(--color-11);
    --card-bg: #ffffff;
    --card-name: #858bb2;

    --draft-text: rgba(55, 59, 83, 1);
    --draft-bg: rgba(55, 59, 83, 0.057);

    --input-bg: #ffffff;
    --input-border: var(--color-05);

    --custom-bg: #ffffff;
    --custom-text: var(--color-08);
  }

  &.dark {
    --text: #ffffff;
    --subtext: var(--color-05);

    --items-bg: var(--color-04);
    --items-totalbg: var(--color-08);
    --items-subtext: var(--color-06);

    --invoice-text: var(--color-05);
    --leftbtn-bg: var(--color-04);
    --leftbtn-text: var(--color-05);
    --addbtn-bg: var(--color-04);

    --bg: var(--color-12);
    --card-bg: var(--color-03);
    --card-name: #ffffff;

    --draft-text: rgba(223, 227, 250, 1);
    --draft-bg: rgba(223, 227, 250, 0.057);

    --input-bg: var(--color-03);
    --input-border: var(--color-04);

    --custom-bg: var(--color-03);
    --custom-text: var(--color-05);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}
