:root {

}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: Arial, Helvetica, sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
