:root {
  --color-01: #7C5DFA;
  --color-02: #9277FF;
  --color-03: #1E2139;
  --color-04: #252945;
  --color-05: #DFE3FA;
  --color-06: #888EB0;
  --color-07: #7E88C3;
  --color-08: #0C0E16;
  --color-09: #EC5757;
  --color-10: #9277FF;
  --color-11: #F8F8FB;
  --color-12: #141625;

  --green: #33D69F;
  --green-bg: #33d69f0f;

  --orange: #FF8F00;
  --orange-bg: #ff8f000f;

  --black: #373B53;
  --black-bg: #373b530f;
  
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--color-11);
  color: var(--color-08);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

ul, ol {
  list-style: none;
}