:root {
  --color-01: #7C5DFA;
  --color-02: #9277FF;
  --color-03: #1E2139;
  --color-04: #252945;
  --color-05: #DFE3FA;
  --color-06: #888EB0;
  --color-07: #7E88C3;
  --color-08: #0C0E16;
  --color-09: #EC5757;
  --color-10: #F8F8FB;
  --color-11: #7C5DFA;
  --color-12: #141625;
  
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: Arial, Helvetica, sans-serif;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
