@use './typography' as *;

.main {
    padding: 32px 0 105px 0 ;
}

.invoices {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__title {
        @include Heading-M;
    }

    &__count {
        color: var(--color-06);
        @include Body;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 18.54px;
    }
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    
    cursor: pointer;

    &__text {
        @include Heading-S-2;
    }
}

.newInvoice {
    display: flex;
    gap: 8px;
    align-items: center;

    padding: 6px;
    width: 90px;
    height: 44px;

    border-radius: 24px;
    background-color: var(--color-01);

    color: #fff;
    @include Heading-S-2;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 32px;
        height: 32px;
        background-color: #fff;
        border-radius: 50%;

       
    }
}
