@use '@/app/typography' as *;

.main {
  padding-top: 32px;
}

.back {
  display: flex;
  align-items: center;
  gap: 23px;

  margin-bottom: 31px;

  &__link {
    @include Heading-S-2;
  }
}

.title {
  margin: 26px 0 22px 0;
  @include Heading-M;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 41px;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 25px;

    border: none;
  }

  &__double {
    display: flex;
    gap: 23px;
  }

  &__double > label {
    flex: 1;
  }

  &__double input {
    width: 100%;
  }

  &__legend {
    margin-bottom: 24px;
    color: var(--color-01);
    @include Heading-S-2;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 9px;

    color: var(--color-07);
    @include Body-2;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid var(--color-05);
    padding: 18px 20px 15px 20px;
    background-color: #fff;
    @include Heading-S-2;
    color: var(--color-08);
  }

  &__input::placeholder {
    color: var(--color-07);
  }

  &__input:focus {
    border: 1px solid var(--color-02);
    outline: none;
  }

  &__input:active {
    border: 1px solid var(--color-02);
    outline: none;
  }
}

.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px;

  &__input {
    border-radius: 4px;
    border: 1px solid var(--color-05);
    padding: 16px 20px 15px 20px;
    background-color: #fff;
    @include Heading-S-2;
    color: var(--color-08);
  }

  &__input.active {
    border: 1px solid var(--color-02);
    outline: none;
  }

  &__active {
    border: 1px solid var(--color-02);
    outline: none;
  }
}

.select {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.icon {
  pointer-events: none;
}

.calendarWrapper {
  position: absolute;
  top: calc(100% + 24px);
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--color-11, #fff);
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
  padding: 26px 18.5px 31px 19.5px;
  @include Heading-S-2;

  :global(.rdp-root) {
    --rdp-accent-color: var(--color-01);
    --rdp-background-color: transparent;
    --rdp-outside-opacity: 10%;
    --rdp-selected-border: none;
  }

  :global(.rdp-month_caption) {
    margin-bottom: 32px;
  }

  :global(.rdp-selected) {
    font-size: inherit;
  }
}

.items {
  border: none;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__legend {
    margin-bottom: 22px;
    color: #777f98;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.38px;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 49px;

    margin-bottom: 49px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include Body-2;
    color: var(--color-07);
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__group > div {
    display: flex;
    gap: 16px;
  }

  &__qtyLabel {
    width: 64px;
  }

  &__priceLabel {
    width: 100px;
  }

  &__group input {
    width: 100%;
  }

  &__total {
    display: flex;
    flex-direction: column;
    gap: 27px;

    @include Body-2;
    color: var(--color-07);
  }

  &__total > span {
    @include Heading-S-2;
    color: var(--color-06);
  }

  &__delete {
    padding: 0;
    margin-bottom: 11px;
  }

  &__add {
    padding: 18px 0 15px 0;
    color: var(--color-07);
    background-color: #f0f3fc;

    border-radius: 24px;
    text-align: center;
    width: 100%;

    @include Heading-S-2;
  }

  &__add:hover {
    background-color: #dfe3fa;
  }
}

.buttonPanel {
  margin-top: 88px;

  padding: 21px 24px;

  background-color: #fff;
  min-height: 91px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.08);

  &__discard {
    flex: 84;

    color: var(--color-07);
    background-color: #f9fafe;
  }

  &__draft {
    flex: 117;

    background-color: #373b53;
    color: var(--color-06);
  }

  &__save {
    flex: 112;

    color: #fff;
    background-color: var(--color-01);
  }

  &__button {
    text-align: center;
    padding: 18px 0 15px 0;
    border-radius: 24px;
    @include Heading-S-2;
  }
}
