@use '@/app/typography' as *;

.button {
  text-align: center;
  padding: 18px 0 15px 0;
  border-radius: 24px;
  @include Heading-S-2;

  flex: 149;

  color: #fff;
  background-color: var(--color-01);
}
