@use '@/app/typography' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 32px 34px 34px 34px;
  border-radius: 8px;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  &__title {
    @include Heading-M;
    margin-bottom: 8px;
  }

  &__text {
    @include Body;
    color: var(--color-06);
    margin-bottom: 22px;
  }

  &__actions {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: end;
  }

  &__cancel {
    background-color: #f9fafe;
    color: var(--color-07);
  }

  &__delete {
    background-color: var(--color-09);
    color: #fff;
  }
}

.button {
  padding: 18px 24px 15px 24px;
  text-align: center;
  border-radius: 24px;

  @include Heading-S-2;
}
