@use '@/app/typography' as *;

.main {
  padding-top: 32px;
}

.back {
  display: flex;
  align-items: center;
  gap: 23px;

  margin-bottom: 31px;

  &__link {
    @include Heading-S-2;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 24px 27px 24px;
  border-radius: 8px;
  background-color: var(--card-bg);

  margin-bottom: 16px;

  &__text {
    @include Body-2;
    color: var(--subtext);
  }

  &__badge {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    padding: 14px 0 11px 0;
    border-radius: 6px;
    min-width: 104px;
  }

  &__st {
    @include Heading-S-2;
  }

  &__paid {
    background-color: var(--paid-bg);
    color: var(--paid-text);
  }

  &__pending {
    background-color: var(--pend-bg);
    color: var(--pend-text);
  }

  &__draft {
    background-color: var(--draft-bg);
    color: var(--draft-text);
  }
}

.content {
  border-radius: 8px;
  background-color: var(--card-bg);
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  box-shadow:
    0px 20px 40px rgba(15, 23, 42, 0.08),
    0px 8px 16px rgba(15, 23, 42, 0.06);

  &__billFrom {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__info {
    display: flex;
    align-items: top;
    gap: 62px;
  }

  &__sentTo {
    display: flex;
    flex-direction: column;
    gap: 13px;

    margin-bottom: 8px;
  }
}

.title {
  @include Heading-S-2;
}

.text {
  @include Body-2;
  color: var(--invoice-text);
}

.date {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__text {
    margin-bottom: 13px;
    @include Body-2;
    color: var(--invoice-text);
  }

  &__title {
    @include Heading-S-2;
  }
}

.billTo {
  &__title {
    margin-bottom: 13px;
    @include Body-2;
    color: var(--invoice-text);
  }

  &__name {
    @include Heading-S-2;
    margin-bottom: 7px;
  }

  &__text {
    @include Body-2;
    color: var(--color-07);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.amount {
  border-radius: 10px;
  overflow: hidden;

  &__items {
    background-color: var(--items-bg);
    padding: 24px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__itemPrice {
    @include Heading-S-2;
    color: var(--color-07);
  }

  &__itemTotalPrice {
    @include Heading-S-2;
    color: var(--text);
  }

  &__total {
    background-color: var(--items-totalbg);
    padding: 26px 24px 22px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
  }

  &__totalText {
    @include Body;
  }

  &__totalPrice {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: -1px;
  }
}

.buttonPanel {
  margin-top: 56px;

  padding: 21px 24px;

  background-color: var(--card-bg);
  min-height: 91px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &__edit {
    flex: 73;

    color: var(--editbtn-text);
    background-color: var(--editbtn-bg);
  }

  &__delete {
    flex: 89;

    color: #fff;
    background-color: var(--color-09);
  }
}

.button {
  text-align: center;
  padding: 18px 0 15px 0;
  border-radius: 24px;
  @include Heading-S-2;
}
