@use '@/app/typography' as *;

.main {
  padding: 32px 0 56px 0;
}

.back {
  display: flex;
  align-items: center;
  gap: 23px;

  margin-bottom: 31px;

  &__link {
    @include Heading-S-2;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px 24px 27px 24px;
  border-radius: 8px;
  background-color: #fff;

  margin-bottom: 16px;

  &__text {
    @include Body-2;
    color: #858bb2;
  }

  &__badge {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    padding: 14px 0 11px 0;
    border-radius: 6px;
    min-width: 104px;
  }

  &__st {
    @include Heading-S-2;
  }

  &__paid {
    background-color: var(--green-bg);
    color: var(--green);
  }

  &__pending {
    background-color: var(--orange-bg);
    color: var(--orange);
  }

  &__draft {
    background-color: var(--black-bg);
    color: var(--black);
  }
}

.content {
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  &__billFrom {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__info {
    display: flex;
    align-items: top;
    gap: 62px;
  }

  &__sentTo {
    display: flex;
    flex-direction: column;
    gap: 13px;

    margin-bottom: 38px;
  }
}

.title {
  @include Heading-S-2;
}

.text {
  @include Body-2;
  color: var(--color-07);
}

.date {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__text {
    margin-bottom: 13px;
    @include Body-2;
    color: var(--color-07);
  }

  &__title {
    @include Heading-S-2;
  }
}

.billTo {
  &__title {
    margin-bottom: 13px;
    @include Body-2;
    color: var(--color-07);
  }

  &__name {
    @include Heading-S-2;
    margin-bottom: 7px;
  }

  &__text {
    @include Body-2;
    color: var(--color-07);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
