@use '@/app/typography' as *;

.main {
  padding-top: 32px;
}

.back {
  display: flex;
  align-items: center;
  gap: 23px;

  margin-bottom: 31px;

  &__link {
    @include Heading-S-2;
  }
}

.title {
  margin: 26px 0 22px 0;
  @include Heading-M;

  & span {
    color: var(--color-06);
  }
}

.buttonPanel {
  margin-top: 88px;

  padding: 21px 24px;

  background-color: var(--card-bg);
  min-height: 91px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;

  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.09);

  &__discard {
    flex: 96;

    color: var(--leftbtn-text);
    background-color: var(--leftbtn-bg);
  }

  &__save {
    flex: 138;

    background-color: var(--color-01);
    color: #fff;
  }

  &__button {
    text-align: center;
    padding: 18px 0 15px 0;
    border-radius: 24px;
    @include Heading-S-2;
  }
}
